/*
   Drink Form Stylesheet
   Author: Andrew Ott
   Date:   03-26-2019
*/
body
{
	font-family: 'Bree Serif', serif;
	font-size: 100%;
}

#logoIMG
{
	width:100px;
	height:100px;
}

#title
{
	vertical-align: middle;
	font-size: 5em;
	padding-left: 30px;
}

#submitMSG
{
	vertical-align: middle;
	font-size: 4em;
	display: flex;
    align-items: center;
    justify-content: center;
}

#line1, #line2, #line3, #line4, #line5, #orderData
{
	display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron
{
    background-color: #00caca;
    color: #201a1b;
}

.tab-content 
{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
.nav-tabs 
{
	margin-bottom: 0;
}
