<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/bootstrap.css">

</head>
   <body>
      <form action = "/result" method = "POST">
         <p>Name <input type = "text" name = "name" /></p>
         <p>Lid?
             <input checked  type = "radio" value="true" id="lid" name = "lid" /><label for="lid">With Lid</label>
             <input type = "radio" value="false" id="nolid" name = "lid" /><label for="lid">No Lid</label>
         </p>

          <p>Dye?
             <input checked type = "radio" value="true" id="dye" name = "dye" /><label for="dye">With Dye</label>
             <input type = "radio" value="false" id="nodye" name = "dye" /><label for="nodye">No Dye</label>
         </p>

         <p>Location <select type ="" name = "table" >
             <option value="one">Table 1</option>
             <option value="two">Table 2</option>
             <option value="three">Table 3</option>
             <option value="four">Mobile Order</option>
         </select>
         </p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>